#header {

}


#nav {
    width: 80%;
    padding: 30px 0;
}


.btn-nav {
      display: inline-block;
      text-decoration: none;
      width: 130px;
      height: 35px;
      border: 2px solid black;

}

.btn-nav a {
      display: block;
      text-align: center;
      text-decoration: none;
}