body {
    font-family: "Abel";
}


#nav {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}


.btn-nav {
      display: inline-block;
      width: 130px;
      height: 35px;
}

.btn-nav:hover {
      border: 2px solid black;
      transition-duration: 0.5s;
}


.btn-nav a {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      height: 35px;
      width: 130px;
}

a:link {
   text-decoration: none;
   color:black;
}


#bg-img{
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
}

#logo {
    width: 5%;
    position: absolute;
    top: 50%;
    left: 48.5%;
}


